<html>
<head>
    <meta charset="UTF-8">
    {% load static %}
    <!--
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    -->
    <link href="//cdn.bootcss.com/materialize/0.98.0/css/materialize.css" rel="stylesheet">
<script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="//cdn.bootcss.com/materialize/0.98.0/js/materialize.js"></script>
    <title>Todolist</title>
</head>
<body>
    <header>
        <h3>Todolist</h3>
        <a href="/todos/add">Add Todo</a>
        <hr>
    </header>

